{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img class="img-fluid" src="https://dummyimage.com/1200x400/133e94/fff" alt="Card image cap">
        <h1 class="mt-3 mb-3">Blog Post Title.</h1>
        <div class="container mb-3">
            <div class="row">
                <span class="text-muted">Evgeniy Shakhov | Dec 10, 2022</span>
            </div>
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis commodi dolor eos nihil unde!
            Adipisci architecto consequuntur dolorem doloribus hic ipsum laudantium libero porro quaerat, sapiente velit
            voluptates voluptatibus?
        </div>
    </div>
{% endblock %}