<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<script src="../vue.js"></script>



<div id="app">
    <button @click="show = !show">Показать / скрыть</button>
    <p v-if="show">Текст, который может стать невидимым.</p>
    <p v-else>{{message | lowerCase | capitalize}}</p>
<!--    <p v-else>{{showMess}}</p>-->
    <ul>
        <li v-for="(car, index) in cars">Index: {{index}} - model: {{car.model}}, speed: {{car.speed}}</li>
    </ul>


<!--    <button @click="show = !show">Показать / скрыть</button>-->
<!--    <p v-if="show">Текст, который может стать невидимым.</p>-->
<!--    <p v-else>Text 2</p>-->
<!--    <ul>-->
<!--        <li v-for="(car, index) in cars">Index: {{index}} - model: {{car.model}}, speed: {{car.speed}}</li>-->
<!--    </ul>-->


<!--    <input type="text" v-on:input="increment($event.target.value)">-->
<!--    <p>{{value}}</p>-->
<!--    <p>{{doubleValue}}</p>-->

<!--    <span @click="title='hello))'" style="pointer-events: auto">Hello2</span>-->
<!--    <span @mouseenter="changeText">mouseenter</span>-->
<!--    <p>{{ title }}</p>-->
<!--    <p :class="styleCSS">Цвет: {{ styleCSS }}</p>-->
<!--    <input type="text" @input="styleCSS = $event.target.value">-->




</div>

<script src="main.js"></script>
<script src="../bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
</body>
</html>