<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap-5.2.0-dist/css/bootstrap.min.css">
</head>
<body>
<script src="vue.js"></script>

<div id="app"></div>

<script>
Vue.component('bx-digits', {
    data()
    {
        return {
            digits: [1,2,3,4,5,6,7,8,9,10]
        }
    },
    computed:
        {
            preparedDigits()
            {
                return this.digits.reverse();
            }
        },
    template: `
      <div>
        <span v-for="digit in preparedDigits" style="padding: 0 5px;">{{digit}}</span>
      </div>
    `
});

// Vue.cloneComponent('bx-digit-color', 'bx-digits', {
//     template: `
//         <div>
//             <template v-for="digit in preparedDigits">
//                 <span v-if="digit % 2" style="color: green; padding: 0 5px;">{{digit}}</span>
//                 <span v-else style="color: red; padding: 0 5px;">{{digit}}</span>
//             </template>
//         </div>
//     `
// });

new Vue({
    el: '#app',
    template: `
        <div>
        <template >
          <bx-digits/>
        </template>
        </div>
    `
});
</script>

<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
</body>
</html>